# Lab 2 Task Solution Example k-nearest neighbours (KNN)

## Introduction

This case uses the k-nearest neighbours learning algorithm from sklearn package. We need to import KNeighborsClassifier from sklearn.neighbors.

The input dataset is [Fisher's Iris](https://github.com/aimacode/aima-data/blob/a21fc108f52ad551344e947b0eb97df82f8d2b2b/iris.csv): Each item represents a flower, with four measurements: 
1. sepal length in cm
2. sepal width in cm
3. petal length in cm
4. petal width in cm

Each item/flower is categorized into one of three species: Setosa, Versicolor and Virginica.

The problem is to predict the class label of a new Iris flower.

## Import pre-defined classes and packages.
* heading.py includes basic methods required to run the program.
* sklearn.neighbors for KNeighborsClassifier

In [122]:
from heading import *
from sklearn.neighbors import KNeighborsClassifier
import pandas as pd

In [127]:
file_name = r"C:\Users\dalia\OneDrive\Documents\AI Assg 3\Example 1\glass.csv"
df = pd.read_csv(file_name)
df

          RI     Na    Mg    Al     Si     K    Ca    Ba   Fe  Type
0    1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0     1
1    1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.0     1
2    1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0     1
3    1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.0     1
4    1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.0     1
..       ...    ...   ...   ...    ...   ...   ...   ...  ...   ...
209  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0     7
210  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0     7
211  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.0     7
212  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.0     7
213  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.0     7

[214 rows x 10 columns]

In [128]:
#df=df.drop(columns=['Type'])
#df

## Practise the K-nearest neighbours learning algorithm

To train a k-nearest neighbours classifier, we need to go through the following steps:
* Step 1: Define the input dataset
* Step 2: Prepare for train and test datasets
* Step 3: Create and train the k nearest neighbours classifier
* Step 4. Test the k nearest neighbours classifier
* Step 5. Apply the k nearest neighbours classifier to new data samples

## Step 1. Define the input dataset using the DataSet class from a given data file

Dataset class is for modeling a dataset for a machine learning problem. It has the following atrributs/fields.

* **examples**: Holds the items of the dataset. Each item is a list of values.

* **attrs**: The indexes of the features (by default in the range of [0,f), where *f* is the number of features). For example, `item[i]` returns the feature at index *i* of *item*.

* **attr_names**: An optional list with attribute names. For example, `item[s]`, where *s* is a feature name, returns the feature of name *s* in *item*.

* **target**: The attribute a learning algorithm will try to predict. By default the last attribute.

* **inputs**: This is the list of attributes without the target.

* **values**: A list of lists which holds the set of possible values for the corresponding attribute/feature. If initially `None`, it gets computed (by the function `setproblem`) from the examples.
* **distance**: A function from a pair of examples to a non-negative number.Should be symmetric, etc. Defaults to mean_boolean_error since that can handle any field types.

* **name**: Name of the dataset.

Its constructor is `Dataset( name=' ', target=' ', attr_names =' ' )`.

Normally, we only need to call the constructor to create a dataset object. After we have a dataset object d, we can then access it's attributes/fields using d.field_name, such as d.examples and d.target and d.inputs.

In this demo, we call the constructor of the DataSet class to create a dataset object from the input data file which should be stored in the directory of 'aima-data'. The name = `iris`,which is the name of datafile, target = `class`, attr_names = `sepal-len sepal-width petal-len petal-width class`,

In [129]:
#glass= DataSet(name="glass", target='Type', attr_names='RI Na Mg Al Si K Ca Ba Fe')

### Explore the dataset
The dataset object organises the data samples as a list of lists, which can be accessed using two indexes, the first one is the element index and the second is the value index in each element list. 
In this sample dataset, iris is a list of five lists. The first four lists are for the four attributes and the last list is for the classes.
Each element is a list of 148 vlaues, where 148 is the number of data samples in the dataset. 
To check if we have imported a correct dataset, we can extract some of the data from the dataset list to see if they are correct.

The samples are: 
1. [5.1, 3.5, 1.4, 0.2, 'setosa']
2. [6.5, 3, 5.8, 2.2, 'virginica']

Extact and print out the first element/sample in the dataset.

In [130]:
#print(0.examples[0])

Print out the first three elements/sample in the dataset.

In [131]:
#print(glass.examples[:3])

Use `dataset.values[dataset.target]` to extract the possible values of the target. 

For classification problems, this will return all the possible classes.

In [132]:
#print(iris.values[iris.target])

## Step 2. Prepare for the training data set and the test data set
The training data set is represented by [train_data, train_label] while the test data set is represented by [test_data, test label], where train_data, train_label, test_data, and test label are lists.

In [133]:
#from sklearn.preprocessing import MinMaxScaler

#normdata = pd.DataFrame(df)
#normdata['price'] = MinMaxScaler().fit_transform(df['price'].values.reshape(-1,1))

In [134]:
train_data = df.sample(frac = 0.7)
test_data = df.drop(train_data.index)
print( len(train_data), len(test_data))

150 64

In [135]:
train_label = train_data.Type
test_label = test_data.Type

Create empty lists for the train_data, train_label, test_data, and test_label

In [136]:
train_data = train_data.drop(columns=['Type'])
test_data = test_data.drop(columns=['Type'])

Using the holdout validation, we need to select some data randomly from dataset as the test data using the method `generate_train_and_test_dataset(dataset.examples, number of test data)`.

In [137]:
#train_data, train_label, test_data, test_label = generate_train_and_test_dataset(glass.examples, 30)

Take two samples from the test set as the future data samples, called futureSample.

In [138]:
futureSample_data =[]
futureSample_label = []
futureSample_data= test_data[-2:]
futureSample_label= test_label[-2:]

test_data =test_data[:-2]
test_label =test_label[:-2]

## Step 3. Train a k-nearest neighbours learning model
Define a KNN model using `KNeighborsClassifier()`and train this KNN model using the train data (train_data, train_label).

In [139]:
kNN = KNeighborsClassifier()

In [140]:
kNN.fit(train_data, train_label)

KNeighborsClassifier()

## Step 4. Test KNN model's performance using test data set
Use the method predict() in the model to calculate the predicted values of test samples and then use the method test_accuracy() to calculate  the average accuracy as the holdout validation.

In [141]:
solution =kNN.predict(test_data)

In [142]:
test_data

          RI     Na    Mg    Al     Si     K    Ca    Ba   Fe
0    1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0
2    1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0
6    1.51743  13.30  3.60  1.14  73.09  0.58  8.17  0.00  0.0
7    1.51756  13.15  3.61  1.05  73.24  0.57  8.24  0.00  0.0
8    1.51918  14.04  3.58  1.37  72.08  0.56  8.30  0.00  0.0
..       ...    ...   ...   ...    ...   ...   ...   ...  ...
184  1.51115  17.38  0.00  0.34  75.41  0.00  6.65  0.00  0.0
187  1.52315  13.44  3.34  1.23  72.38  0.60  8.83  0.00  0.0
198  1.51531  14.38  0.00  2.66  73.10  0.04  9.08  0.64  0.0
202  1.51514  14.85  0.00  2.42  73.72  0.00  8.39  0.56  0.0
203  1.51658  14.80  0.00  1.99  73.11  0.00  8.28  1.71  0.0

[62 rows x 9 columns]

In [143]:
solution[6]

1

In [144]:
solution[15]

1

In [145]:
solution[61]

7

In [146]:
solution[30]

2

In [153]:
solution[45]

1

In [155]:
test_accuracy(solution, test_label)

KeyError: 1

## Step 5. Predict the class for the data samples in the future sample set

In [156]:
for x in futureSample_data:
    print(x,kNN.predict([x]))

ValueError: Expected 2D array, got 1D array instead:
array=['RI'].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.